.textCard{
    width: 25vw;
    background-color: rgb(255, 252, 248);
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    overflow-wrap: break-word;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}