.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 11px;
  color: rgb(50, 47, 47);
}

.text-events-container {
  columns: 3;
}
